<!DOCTYPE html>
<html>
<head>
  <title><%= gameState %></title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
  <style>
    body {
      background-image: url('/image/<%= gameState === "win" ? "WinPage.png" : "LosePage.png" %>');
      background-repeat: no-repeat;
      background-size: 75% 100%;
      background-position: center top;
      position: relative;
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;
    }

    .leaderboard {
      position: absolute;
      top: 37%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }

    .leaderboard p {
      margin: 2vh;
      font-family: Arial, sans-serif;
      font-weight: bold;
      font-size: 110%;
      color: red;
    }

    .total-score {
      position: absolute;
      top: <%= gameState === 'win' ? '63%' : '51%' %>;
      left: <%= gameState === 'win' ? '72%' : '50%' %>; 
      text-align: center;
      font-family: Arial, sans-serif;
      font-weight: bold;
      font-size: 110%;
      color: red;
    }

    .button-container {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }

    .Quit,
    .Play {
      padding: 1vw 2vh;
      box-sizing: content-box;
    }

    /* Additional styles for gameState == "lose" */
    .lose .total-score {
    top: 10%; /* Change the vertical position of the total text */
    }
  </style>
<script>
  const playerName = sessionStorage.getItem('playerName');
  console.log(playerName);
  const socket = io();

  function sendQuitRequest() {
    socket.emit('quit-request', { player: playerName });
  }

  function sendPlayAgainRequest(){
    socket.emit('play-again', { player: playerName });
  }

  socket.on('quitting', () => {
    window.location.href = 'index.html'; 
  });

  socket.on('restart-game', () => {
    console.log("Restarting game");
    fetchGamePage();
  });

  function fetchGamePage(){
    fetch('/play')
      .then(response => {
        if (response.ok) {
          window.location.href = '/play';
        } else {
          throw new Error('Failed to load play.html');
        }
      })
  }

  document.addEventListener('DOMContentLoaded', function() {
    var quitButton = document.querySelector('.Quit');
    var playButton = document.querySelector('.Play');

    quitButton.addEventListener('click', function() {
      sendQuitRequest();
    });

    playButton.addEventListener('click', function() {
      sendPlayAgainRequest();
    });
  });
</script>
</head>
<body>
  <div class="leaderboard"> 
    <p><%= player1Name %> - Score: <%= player1Score %></p>
    <p><%= player2Name %> - Score: <%= player2Score %></p>
  </div>

  <div class="total-score">
    <p><%= totalScore %></p>
  </div>

  <div class="button-container">
    <button class="Quit">Quit game</button>
    <button class="Play">Play again</button>
  </div>
</body>
</html>